body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #645db9,
    #574fa3,
    #4a428e,
    #3e357a,
    #312966,
    #292359,
    #211d4c,
    #191740,
    #151537,
    #11122d,
    #0f0e24,
    #0a091b
  );
}
